.information
  グループを編集しました

.wrapper
  = render 'messages/menu'

  .main
    .main-header
      .main-header__title
        こたこまグループ
      .main-header__edit
        Edit
      .main-header__member
        Member：こたこま
      .contents
        .contents__name
          こたこま
        .contents__date
          2019/10/06(Sun) 20:30:00
          .contents__message
            test
        .contents__name
          こたこま
        .contents__date
          2019/10/06(Sun) 20:30:00
          .contents__message
            コメント内容
      .form
        %input{name: "message[content]", placeholder: "type a message", type: "text", class:"form__text"}/
        %input{name: "message[image]", type: "file", id: "filesend", class: "form__file"}/
        %form{action: "./filesend.cgi", enctype: "multipart/form-data", method: "post"}
        %label
          = fa_icon 'image',class: "form__image"
          %input#filesend{name: "datafile", type: "file",class: "form__file"}/
          %input{"data-disable-with" => "Send", name: "commit", type: "submit", value: "Send", class: "form__submit-btn"}/

