.information{
  position: relative;
  color: $white;
  background-color: $blue;
  width: 100%;
  text-align: center;
}

.main-header{
  float: right;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100vh;
  width: $main-width;
  &__title{
    align-items: center;
    color: #333333;
    font-size: 20px;
    margin: 0 0 0 auto;
    padding: 35px 40px 15px 40px;
  }
  &__edit{
    box-sizing: border-box;
    position: absolute;
    float: right;
    font-size: 16px;
    color: $blue;
    border: solid 1px $blue;
    line-height: 40px;
    height: 40px;
    padding: 0 20px;
    margin: -50px 0 0 auto;
    right: 40px;
    cursor: pointer;
  }
  &__member{
    @include font-gray;
    @include border;
    padding: 0 40px 1px;
  }
  .message{
    overflow: scroll;
    display: block;
    width: $main-width;
    height: calc(100vh - 190px);
    background-color: #fafafa;
    &__user-name{
      font-size: 16px;
      font-weight: bold;
      color: $black;
      padding: 46px 10px 10px 40px;
      float: left;
    }
    &__date{
      font-size: 12px;
      color: #999999;
      align-items: center;
      padding-top: 46px;
    }
      &__lower{
        font-size: 14px;
        color: $black;
        clear: both;
        padding: 0 0 4px 40px;
      }
  }
  .form{
    width: $main-width;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;

    &__message{
      height: 50px;
      width: calc(100% - 132px);
      border: none;
      padding: 0 7px 0 10px;
      font-size :16px;
      color: $black;
    }

    &__icon{
      position: absolute;
      font-size: 1.3rem;
      bottom: 10px;
      right: 165px;
      cursor: pointer;
    }

    &__hidden{
      display: none;
      width: 0;
      }

    &__submit-btn{
      position: absolute;
      width: 100px;
      height: 50px;
      padding: 0 30px;
      bottom: -4px;
      right: 40px;
      background-color: $blue;
      color: $white;
      cursor: pointer;
    }
  }
}

.menu{
  width: 300px;
  float: left;
  color: $white;
  margin: 0;
  &__box{
    height: 100px;
    box-sizing: border-box;
    display: flex;
    background-color: #253141;
    align-items: center;
  }
    &__box-user{
      padding: 0 20px;
      text-align: left;
      float: left;
      justify-content: space-between;
      font-weight: bold;
    }
    &__box-btn{
      display: list-item;
      list-style: none;
      text-decoration: none;
      margin: 0 0 0 auto;
      padding: 0 15px;
      letter-spacing: 0.3rem;
      ::before{
        color:$white;
      }
    }
}

.groups{
  @include sidebar;
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  overflow: scroll;
  color: $white;
.group{
  color: $white;
  text-decoration: none;
  ::before{
    color:$white;
  }
  padding: 20px;
    &__name{
      font-size: 15px;
    }
    &__message{
      font-size: 11px;
      padding: 5px 0 0 0;
    }
  }
}
